html,
body {
  height: 100%;
}
body > div:first-child,
body > div:first-child > div:first-child {
  height: 100%;
}
body {
  margin: 0px;
  font-family: "-apple-system, Roboto, sans-serif, serif",
}
main {
  height: 100%;
  padding: 5rem;
}
main > h2 {
  display: none;
}


@media (max-width: 800px) {
  main {
    padding: 10px;
  }
  main > h1 {
    display: none;
  }
  main > h2 {
    display: block;
    margin-top: 3rem;
    text-align: center;
  }
}