#searchReulstList {
  margin-top: 20px; 
}
#searchReulstListName   {
  margin: 0;
  padding: 1rem;
  background: #313138;
}

#searchReulstList ul {
  margin: 0px;
  padding: 0px; 
  border-bottom: 1px solid #999999;;
}
#searchReulstList li {
  list-style: none;
  padding: 6px;
  display: flex;
  align-items: center;
}
#searchReulstList li+li {
  border-top: 1px solid #999999;;
}
#searchReulstList li:hover {
  background: #4b4b4b;
  color: #111111;
}

#searchReulstList li a:hover{
  text-decoration: underline;
  color: black;
} 

/* #searchReulstList li a {
  display: block;
}
#searchReulstList li a:link,
#searchReulstList li a:visited,
#searchReulstList li a:active {
  text-decoration: none;
  color: black;
}

*/