#searchWrapper {
  display: flex;
  width: 30rem;
  height: 50px;
  border: solid 1px #7a5d4b;
  background: #313138;
}
#searchWrapperMain {
  display: flex;
  width: 30rem;
  height: 50px;
  border: solid 1px #7a5d4b;
  background: #313138;
  margin: 0 auto;
}

#searchLogo {
  width: 3rem; 
}
#searchInputWrapper {
  display: flex;
  align-items: center;
  width: 24rem;
}
#searchInput {
  width: 100%;
  padding: 5px 0 5px 15px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #313138;
}
#searchButton {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchButton:hover {
  cursor: pointer;
}

#searchList {
  width: 30rem;
  margin: 0 auto;
  position: relative;
}
#searchList ul {
  width: 27rem;
  position: absolute;
  right: 0px;
  border: solid 1px #7a5d4b;
  border-top: none;
  margin: 0px;
  padding: 0px;
  background: #313138;
}
#searchList li {
  list-style: none;
  margin:  0;
  padding:  5px;
}
#searchList li:hover {
  background: #f6f6f6;
  cursor: pointer;
}
#searchList li a {
  display: block;
}
#searchList li a:link,
#searchList li a:visited,
#searchList li a:active {
  text-decoration: none;
  color: #fff;
}




@media (max-width: 800px) {
  #searchWrapper {
    display: flex;
    width: 95%;
  }
  
  #searchList {
    width: calc(90%+3rem);
    margin: 0 auto;
    position: relative;
  }
  #searchList ul {
    border: none;
  }
}