#searchWrapper {
  width: 48rem;
  height: 5rem;
  margin: 0 auto;
}
#searchWrapperMain {
  width: 48rem;
  height: 5rem;
  margin: 0 auto;
}
#searchWrapperTop {
  display: flex;
  background: #313138;
}



#searchLogo {
  width: 5rem; 
}
#searchInputWrapper {
  display: flex;
  align-items: center;
  width: 43rem;
}
#searchInput {
  width: 100%;
  padding: 5px 0 5px 15px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  color: #ffffff;
  background: #313138;
}
#searchButton {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchButton:hover {
  cursor: pointer;
}

#searchList {
  position: relative;
  z-index: 5;
  background: #313138;
  border-top: none;
  font-size: 1.6rem;
}
#searchList ul {
  margin: 0;
  padding: 0;  
}
#searchList li {
  list-style: none;
  margin-left: 5rem;
  padding: 0.6rem;
}
#searchList > ul > li:first-child {
  padding-top: 1.2rem;
}
#searchList li:hover {
  background: #4b4b4b;
  cursor: pointer;
}
#searchList li a {
  display: block;
}
#searchList li a:link,
#searchList li a:visited,
#searchList li a:active {
  text-decoration: none;
  color: #fff;
}


@media (max-width: 800px) {
  #searchWrapper {
    width: 100%;
  }
  #searchWrapperMain {
    width: 100%;
  }
  #searchWrapperTop {
    display: flex;
    background: #313138;
    border-radius: 5px;
  }

  #searchInputWrapper {
    width: 100%;
  }

  #searchList {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #searchList ul {
    border: none;
  }
  #searchList a {
    font-size: 1.6rem;
  }
}